.banner {
  background-image: url("../../../assets/midBannerImg.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 780px;
  width: 100%;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -180px;
  background-attachment: fixed;
}
.banner-container {
  text-align: center;
}
.title {
  color: rgb(236, 235, 235);
  font-weight: bold;
  font-size: 59px;
}
.about-btn {
  padding: 17px 34px;
}
