.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 3rem;
}

.all-courses {
  padding: 50px;
}
.courses {
  margin-bottom: 12%;
}
.cart {
  padding: 10px;
  margin-bottom: 7px;
  border: 1px solid;
  border-color: #4d504e;
  margin-top: 10px;
  border-radius: 5px;
}
.text-area {
  text-align: center;
}
.section-hr {
  margin-top: 100px;
  border-color: #ebebeb;
}
.section-header {
  margin-bottom: 40px;
}
.feature-icon {
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: 45px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  color: #29ca96eb;
}
.feature-content {
  padding-left: 10%;
}
.bg-image {
  background-image: url(https://thesat50.pythonanywhere.com/static/img/cta2-background.jpg);
  background-position: bottom;
  background-size: cover;
  background-color: linear-gradient(to bottom, #374050 0%, #798696 100%);
  opacity: 0.7;
  height: 250px;
}
.bg-image.bg-parallax {
  background-attachment: fixed;
}
